html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {        margin: 0px;
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    /*background: rgb(0, 0, 0) none repeat scroll 0% 0%;*/
}

html, body, fieldset, img, iframe, abbr {
    border: 0px none;
}

li {
    list-style: outside none none;
}
a, button {
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, em, strong, b {
    font-weight: 700;
}
a, a:hover {
    text-decoration: none;
}
html, body {
    width: 100%; font-family: "Microsoft Yahei";
}
.clearfix::after {
    visibility: hidden; display: block; font-size: 0px; content: " "; clear: both; height: 0px;
}
html, body {
    min-width: 1400px;
}